html
  head
    title='Tim de Vries Rocks'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello Tim de Vries, this is dog!!!
        p Click the button below to head over to view stuff...
        p 
          a.btn.btn-primary(href="http://music.google.com") Music
        p